@page "/"
@using BuySell.Models
@using BuySell
@using BuySellSend.Services
@inject IQueueService queue

<h1>Hello, world!</h1>

Welcome to your new app.
@* Create a form that chooses which stock to pick from
   Then from there call finnhubb using that stock name
   then implement invest algo
   finally send the answer as a queue message
    *@
<EditForm Model="@stockRequest" OnInvalidSubmit="@PublishMesage">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-group">
        <label for="StockChoice"> Stock Choice</label>
        <InputText id ="StockChoice" class="form-control" @bind-Value="stockRequest.StockChoice" />
    </div>
    </EditForm>
@code{
    private StockRequestModel stockRequest = new StockRequestModel();
    
    private async Task PublishMesage()
    {
        stockRequest.StockWebsiteRequest();
        DataStoreModel dataStore = stockRequest.outputStock;
        ImplementInvest investor = new ImplementInvest(dataStore);
        string result = investor.BuySellStorage();
        //Call it stock for general stock
        await queue.SendMessageAsync(result, "Stock");
    }
}